{% if site.data.data.download %}
  <section class="section download-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
      </span>
      Descargá mi Curriculum en PDF
    </h2>

    <a href="/assets/files/cv-spanish.pdf" title="Descargar mi curriculum en pdf" download="Emilio Degiovanni CV Spanish.pdf">
      <i class="fa fa-download"></i> Español
    </a>

    <a href="/assets/files/cv-english.pdf" title="Download my resume in pdf" download="Emilio Degiovanni Resume English.pdf">
      <i class="fa fa-download"></i> English
    </a>    

  </section>
{% endif %}