{% if site.data.data.sidebar.download %}
  <div class="download-container">

    <h2><abbr title="Muy largo; no leí nada. Mejor me bajo solo el CV">TL;DR</abbr></h2>

    <a href="{{ site.baseurl }}/assets/files/cv-spanish.pdf" title="Descargar mi curriculum en pdf" download="Emilio Degiovanni CV Spanish.pdf">
      <i class="fa fa-download"></i> Español
    </a>

    <a href="{{ site.baseurl }}/assets/files/cv-english.pdf" title="Download my resume in pdf" download="Emilio Degiovanni Resume English.pdf">
      <i class="fa fa-download"></i> English
    </a>

  </div>
{% endif %}